// @import url('https://fonts.googleapis.com/css?family=Muli:100,200,300,400,500,600,700');

// body {
//     margin: 0;
//     padding: 0;
// }

#ingredients {
    font-family: Muli, helvetica, verdana, arial, sans-serif;
    color: #363636;
    letter-spacing: initial;
    line-height: initial;

    @media (max-width: 767px) {
        background-color: #f9f9f8;
    }

    .mobile-img {
        display: none;

        @media (max-width: 767px) {
            display: block;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    .container {
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
        @media (min-width: 576px) {
            max-width: 576px;
        }
        @media (min-width: 768px) {
            max-width: 768px;
        }
        @media (min-width: 992px) {
            max-width: 992px;
        }
        @media (min-width: 1200px) {
            max-width: 1200px;
        }

        .ingredients-container {
            display: flex;

            @media (max-width: 767px) {
                flex-direction: column-reverse;
            }

            .left, .right {
                flex: 0 0 50%;
            }
            .left {
                background-color: #f9f9f8;

                .content {
                    padding: 35px 30px;

                    @media (max-width: 991px) {
                        padding: 35px 15px;
                    }
                    @media (max-width: 767px) {
                        padding: 35px 0;
                    }

                    h2 {
                        margin: 0 0 30px;
                        font-size: 27px;
                        color: #1e204a;
                        text-align: center;
                    }
                    .item {
                        display: flex;
                        width: 100%;
                        column-gap: 20px;
                        margin-bottom: 20px;

                        img {
                            width: 100px;
                            height: 100px;

                            @media (max-width: 991px) {
                                width: 75px;
                                height: 75px;
                            }
                        }
                        h3 {
                            margin: 0 0 5px;
                            font-size: 24px;
                        }
                        p {
                            margin: 0;
                            font-size: 16px;
                            line-height: 1.5;
                        }
                    }
                    .button-container {
                        margin: 35px 0 0;
                        text-align: center;

                        .my-button {
                            display: inline-block;
                            padding: 25px 55px;
                            border-radius: 40px;
                            font-size: 27px;
                            font-weight: 700;
                            text-align: center;
                            color: #fff;
                            background-color: #e2188d;
                            box-shadow: 0 0 16px #0000001a;
                            transition: background-color .15s ease-in-out;
                            cursor: pointer;
                            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";

                            &:hover {
                                background-color: #c21479;
                                box-shadow: 0 2px 8px #00000040;
                            }

                            @media (max-width: 991px) {
                                display: block;
                                padding: 25px 0;
                            }
                            @media (max-width: 767px) {
                                display: inline-block;
                                padding: 25px 55px;
                            }
                        }
                        p.guarantee {
                            margin: 5px 0 0;
                            text-align: center;
                            font-size: 15px;
                            font-weight: 700;
                            color: #28a745;

                            .checkmark {
                                display: inline-block;
                                transform: rotate(45deg);
                                height: 14px;
                                width: 8px;
                                border-bottom: 3px solid #28a745;
                                border-right: 3px solid #28a745;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
            .right {
                display: block;
                background: url(https://dist1.skinnyfitdetox.com/images/new-lander/Collagen-Types_Desktop_02.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top center;

                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
    }
}