.modal {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(54, 54, 54, .5);
    z-index: 101;

    .modal-box {
        display: block;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 500px;
        height: 500px;
        background: #fff;
        border-radius: 5px;
        padding: 15px;
        box-sizing: border-box;
        overflow: scroll;

        h4 {
            font-size: 20px;
        }

        .close {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            margin: 10px 10px 0 0;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 30px;
            cursor: pointer;
        }
    }
}