@import url('https://fonts.googleapis.com/css?family=Muli:100,200,300,400,500,600,700');

body {
    margin: 0;
    padding: 0;
}

#process {
    font-family: Muli, helvetica, verdana, arial, sans-serif;
    padding: 35px 0;
    color: #363636;
    background: #f9f9f8;

    .container {
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
        @media (min-width: 576px) {
            max-width: 576px;
        }
        @media (min-width: 768px) {
            max-width: 768px;
        }
        @media (min-width: 992px) {
            max-width: 992px;
        }
        @media (min-width: 1200px) {
            max-width: 1200px;
        }

        .headlines {
            padding: 0 0 35px;

            h2 {
                margin: 0 0 15px;
                font-size: 32px;
                font-weight: 700;
                color: #1e204a;
                text-align: center;
            }
            h3 {
                margin: 0;
                font-size: 20px;
                font-weight: 600;
                text-align: center;
            }
        }
        .steps-container {
            display: flex;
            justify-content: space-between;

            @media (max-width: 767px) {
                flex-direction: column;
            }

            .step {
                width: 375px;
                text-align: center;

                @media (max-width: 1199px) {
                    width: 300px;
                }
                @media (max-width: 991px) {
                    width: 215px;
                }
                @media (max-width: 767px) {
                    width: 100%;
                    margin: 0 0 30px;
                }

                img {
                    display: block;
                    width: 250px;
                    margin: 0 auto 10px;

                    @media (max-width: 991px) {
                        width: 215px;
                    }
                    @media (max-width: 767px) {
                        width: 250px;
                    }
                }
                h3 {
                    margin: 0 0 5px;
                    font-size: 28px;
                }
                p {
                    margin: 0;
                    font-size: 16px;
                    line-height: 1.5;
                }
            }
        }
        .button-container {
            margin: 30px 0 0;
            text-align: center;

            .button {
                display: inline-block;
                padding: 25px 55px;
                border-radius: 40px;
                font-size: 27px;
                font-weight: 700;
                text-align: center;
                color: #fff;
                background-color: #e2188d;
                box-shadow: 0 0 16px #0000001a;
                transition: background-color .15s ease-in-out;
                cursor: pointer;
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";

                &:hover {
                    background-color: #c21479;
                    box-shadow: 0 2px 8px #00000040;
                }
            }
            p.guarantee {
                margin: 5px 0 0;
                text-align: center;
                font-size: 15px;
                font-weight: 700;
                color: #28a745;

                .checkmark {
                    display: inline-block;
                    transform: rotate(45deg);
                    height: 14px;
                    width: 8px;
                    border-bottom: 3px solid #28a745;
                    border-right: 3px solid #28a745;
                    margin-right: 5px;
                }
            }
        }
    }
}