// @import url('https://fonts.googleapis.com/css?family=Muli:100,200,300,400,500,600,700');

// body {
//     margin: 0;
//     padding: 0;
// }

#testimonials {
    font-family: Muli, helvetica, verdana, arial, sans-serif;
    background: #f9f9f8;
    padding: 35px 0;
    color: #363636;
    letter-spacing: initial;
    line-height: initial;

    .container {
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
        @media (min-width: 576px) {
            max-width: 576px;
        }
        @media (min-width: 768px) {
            max-width: 768px;
        }
        @media (min-width: 992px) {
            max-width: 992px;
        }
        @media (min-width: 1200px) {
            max-width: 1200px;
        }
    }
    .headlines {
        padding: 0 0 35px;

        h2 {
            margin: 0 0 15px;
            font-size: 32px;
            font-weight: 700;
            color: #1e204a;
            text-align: center;
        }
        h3 {
            margin: 0;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }
    }
    .testimonials {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;

        @media (max-width: 767px) {
            display: block;
        }

        .testimonial {
            width: 350px;

            @media (max-width: 1199px) {
                width: 300px;
            }
            @media (max-width: 991px) {
                width: 230px;
            }
            @media (max-width: 767px) {
                width: 350px;
                margin: 0 auto 35px;
            }
            @media (max-width: 399px) {
                width: 100%;
            }

            .testimonial-image {
                display: block;
                width: 100%;
            }
            .star-rating {
                display: block;
                width: 150px;
                margin: 0 auto;
            }
            h4 {
                margin: 0;
                font-size: 24px;
                font-weight: 700;
                text-align: center;
            }
            p.quote {
                margin: 10px 0 0;
                font-size: 20px;
                font-weight: 700;
                line-height: 1.5;

                @media (max-width: 767px) {
                    text-align: center;
                }
            }
            p.name {
                margin: 10px 0 0;
                font-size: 20px;
                font-weight: 500;

                @media (max-width: 767px) {
                    text-align: center;
                }
            }
        }
    }
    small {
        display: block;
        font-size: 13px;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        color: #696969;
    }
    .button-container {
        margin: 30px 0 0;
        text-align: center;

        .my-button {
            display: inline-block;
            padding: 25px 55px;
            border-radius: 40px;
            font-size: 27px;
            font-weight: 700;
            text-align: center;
            color: #fff;
            background-color: #e2188d;
            box-shadow: 0 0 16px #0000001a;
            transition: background-color .15s ease-in-out;
            cursor: pointer;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";

            &:hover {
                background-color: #c21479;
                box-shadow: 0 2px 8px #00000040;
            }
        }
        p.guarantee {
            margin: 5px 0 0;
            text-align: center;
            font-size: 15px;
            font-weight: 700;
            color: #28a745;

            .checkmark {
                display: inline-block;
                transform: rotate(45deg);
                height: 14px;
                width: 8px;
                border-bottom: 3px solid #28a745;
                border-right: 3px solid #28a745;
                margin-right: 5px;
            }
        }
    }
}