// @import url('https://fonts.googleapis.com/css?family=Muli:100,200,300,400,500,600,700');

// body {
//     margin: 0;
//     padding: 0;
// }

#faq {
    font-family: Muli, helvetica, verdana, arial, sans-serif;
    padding: 35px 0;
    color: #363636;
    letter-spacing: initial;
    line-height: initial;

    .container {
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
        @media (min-width: 576px) {
            max-width: 576px;
        }
        @media (min-width: 768px) {
            max-width: 768px;
        }
        @media (min-width: 992px) {
            max-width: 992px;
        }
        @media (min-width: 1200px) {
            max-width: 1200px;
        }
    }
    .headlines {
        padding: 0 0 35px;

        h2 {
            margin: 0 0 15px;
            font-size: 32px;
            font-weight: 700;
            color: #1e204a;
            text-align: center;
        }
    }
    .accordion {
        .item {
            padding: 15px 0;
            border-bottom: 2px solid #ccd6d6;
            text-align: left;

            &.active {
                p {
                    display: block;
                }
                .minus {
                    display: block;
                }
                .plus {
                    display: none;
                }
            }

            h3 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 20px;
                margin: 0;
                font-size: 1.1em;
                font-weight: 700;
                line-height: initial;
                color: #363636;
                cursor: pointer;

                .plus, .minus {
                    font-size: 32px;
                }
                .minus {
                    display: none;
                }
            }
            p {
                display: none;
                margin: 10px 0 0;
                font-size: 1em;
                font-weight: 300;
                line-height: 1.5;
                color: #363636;
            }
        }
    }
    .button-container {
        margin: 35px 0 0;
        text-align: center;

        .my-button {
            display: inline-block;
            padding: 25px 55px;
            border-radius: 40px;
            font-size: 27px;
            font-weight: 700;
            text-align: center;
            color: #fff;
            background-color: #e2188d;
            box-shadow: 0 0 16px #0000001a;
            transition: background-color .15s ease-in-out;
            cursor: pointer;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";

            &:hover {
                background-color: #c21479;
                box-shadow: 0 2px 8px #00000040;
            }
        }
        p.guarantee {
            margin: 5px 0 0;
            text-align: center;
            font-size: 15px;
            font-weight: 700;
            color: #28a745;

            .checkmark {
                display: inline-block;
                transform: rotate(45deg);
                height: 14px;
                width: 8px;
                border-bottom: 3px solid #28a745;
                border-right: 3px solid #28a745;
                margin-right: 5px;
            }
        }
    }
}