@import url('https://fonts.googleapis.com/css?family=Muli:100,200,300,400,500,600,700');

body {
    margin: 0;
    padding: 0;
}

#pricing-table {
    font-family: Muli, helvetica, verdana, arial, sans-serif;
    padding: 35px 0;
    color: #363636;
    letter-spacing: initial;
    line-height: initial;

    .container {
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
        @media (min-width: 576px) {
            max-width: 576px;
        }
        @media (min-width: 768px) {
            max-width: 768px;
        }
        @media (min-width: 992px) {
            max-width: 992px;
        }
        @media (min-width: 1200px) {
            max-width: 1200px;
        }
    }
    .headlines {
        h2 {
            margin: 0;
            font-size: 27px;
            font-weight: 700;
            color: #1e204a;
            text-align: center;
        }
    }
    .pricing-table {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        margin: 80px 0 20px;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        .option {
            position: relative;
            z-index: 0;
            width: 350px;
            padding-bottom: 10px;
            border: 2px solid #ccd6d6;
            border-radius: 5px;

            @media (max-width: 767px) {
                width: 100%;

                &:last-of-type {
                    margin-top: 75px;
                }
            }

            .best-value-tag {
                position: absolute;
                top: -60px;
                z-index: -1;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                background-color: #e2188d;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;

                p {
                    margin: 0;
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 65px;
                    color: #fff;
                    text-align: center;
                }
            }

            .title {
                margin: 0;
                padding: 10px 20px;
                background-color: #f9f9f8;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                text-align: center;

                p {
                    margin: 0;
                    font-size: 22px;
                    font-weight: 500;
                }
                h4 {
                    margin: 5px 0;
                    font-size: 36px;
                    font-weight: 700;
                    color: #e2188d;
                }
                h3 {
                    margin: 0;
                    font-size: 18px;
                    font-weight: 300;
                }
            }
            .product-img {
                display: block;
                width: 315px;
                margin: 0 auto;

                @media (max-width: 767px) {
                    width: 90%;
                    margin: 0 auto;
                }
            }
            .star-rating {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 5px;

                img {
                    display: block;
                    width: 120px;
                }
                p {
                    margin: 0;
                    font-size: 15px;
                    font-weight: 300;
                }
            }
            .pricing {
                text-align: center;

                p.msrp {
                    margin: 10px 0 0;
                    font-size: 14px;

                    span {
                        text-decoration: line-through;
                    }
                }
                p.price {
                    margin: 5px 0 0;
                    font-size: 14px;

                    span {
                        font-weight: 700;
                    }
                }
                .free-items {
                    p {
                        margin: 0;
                        font-size: 14px;
                        font-weight: 700;
                        color: #28a745;
                    }
                }
            }
            .button-container {
                margin: 30px 0 0;
                text-align: center;

                .my-button {
                    display: block;
                    width: 290px;
                    margin: 20px auto 0;
                    padding: 18px 0;
                    border-radius: 40px;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: center;
                    color: #fff;
                    background-color: #e2188d;
                    box-shadow: 0 0 16px #0000001a;
                    transition: background-color .15s ease-in-out;
                    cursor: pointer;
                    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
                    outline: none;
                    border: none;

                    &:hover {
                        background-color: #c21479;
                        box-shadow: 0 2px 8px #00000040;
                    }

                    &.border {
                        margin: 15px auto 0;
                        padding: 15px 0;
                        background-color: #fff;
                        color: #e2188d;
                        border: 3px solid #e2188d;
                    }
                }
                p {
                    margin: 5px 0 0;
                    text-align: center;
                    font-size: 14px;

                    .checkmark {
                        display: inline-block;
                        transform: rotate(45deg);
                        height: 10px;
                        width: 4px;
                        margin: 0 5px;
                        border-bottom: 3px solid #28a745;
                        border-right: 3px solid #28a745;
                    }
                }
            }
        }
    }
    .bottom-copy {
        text-align: center;

        p {
            margin: 0;
            font-size: 16px;
            font-weight: 300;

            &:first-child {
                margin: 0 0 10px;
                font-weight: 600;
            }

            a {
                text-decoration: none;
                color: #363636;
                font-weight: 400;
            }
        }
    }
}