@import url('https://fonts.googleapis.com/css?family=Muli:100,200,300,400,500,600,700');

body {
    margin: 0;
    padding: 0;
}

#pricing-table {
    font-family: Muli, helvetica, verdana, arial, sans-serif;
    padding: 35px 0;
    color: #363636;

    .container {
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
        @media (min-width: 576px) {
            max-width: 576px;
        }
        @media (min-width: 768px) {
            max-width: 768px;
        }
        @media (min-width: 992px) {
            max-width: 992px;
        }
        @media (min-width: 1200px) {
            max-width: 1200px;
        }
    }
    .headlines {
        padding: 0 0 35px;

        h2 {
            margin: 0 0 15px;
            font-size: 32px;
            font-weight: 700;
            color: #1e204a;
            text-align: center;
        }
    }
    .pricing-table {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        margin: 80px 0 0;

        .option {
            position: relative;
            z-index: 0;
            width: 350px;
            padding-bottom: 10px;
            border: 2px solid #ccd6d6;
            border-radius: 5px;

            .title {
                padding: 10px 20px;
                background-color: #f9f9f8;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                text-align: center;

                p {
                    margin: 0;
                    font-size: 22px;
                    font-weight: 500;
                }
                h4 {
                    margin: 5px 0;
                    font-size: 36px;
                    font-weight: 700;
                    color: #e2188d;
                }
                h3 {
                    margin: 0;
                    font-size: 18px;
                    font-weight: 300;
                }
            }
            img {
                display: block;
                width: 315px;
                margin: 0 auto;
            }
            .star-rating {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 5px;

                img {
                    display: block;
                    width: 120px;
                }
                p {
                    margin: 0;
                    font-size: 15px;
                    font-weight: 300;
                }
            }
        }
    }
}