#process {
  font-family: Muli, helvetica, verdana, arial, sans-serif;
  padding: 35px 0;
  color: #363636;
  background: #f9f9f8;
  letter-spacing: initial;
  line-height: initial;
}
#process .container {
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  #process .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  #process .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  #process .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  #process .container {
    max-width: 1200px;
  }
}
#process .container .headlines {
  padding: 0 0 35px;
}
#process .container .headlines h2 {
  margin: 0 0 15px;
  font-size: 32px;
  font-weight: 700;
  color: #1e204a;
  text-align: center;
}
#process .container .headlines h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
#process .container .steps-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  #process .container .steps-container {
    flex-direction: column;
  }
}
#process .container .steps-container .step {
  width: 375px;
  text-align: center;
}
@media (max-width: 1199px) {
  #process .container .steps-container .step {
    width: 300px;
  }
}
@media (max-width: 991px) {
  #process .container .steps-container .step {
    width: 215px;
  }
}
@media (max-width: 767px) {
  #process .container .steps-container .step {
    width: 100%;
    margin: 0 0 30px;
  }
}
#process .container .steps-container .step img {
  display: block;
  width: 250px;
  margin: 0 auto 10px;
}
@media (max-width: 991px) {
  #process .container .steps-container .step img {
    width: 215px;
  }
}
@media (max-width: 767px) {
  #process .container .steps-container .step img {
    width: 250px;
  }
}
#process .container .steps-container .step h3 {
  margin: 0 0 5px;
  font-size: 28px;
}
#process .container .steps-container .step p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}
#process .container .button-container {
  margin: 30px 0 0;
  text-align: center;
}
#process .container .button-container .my-button {
  display: inline-block;
  width: 445px;
  padding: 25px 0;
  border-radius: 40px;
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #e2188d;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1019607843);
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  outline: none;
  border: none;
}
@media (max-width: 575px) {
  #process .container .button-container .my-button {
    width: 100%;
    font-size: 24px;
  }
}
#process .container .button-container .my-button:hover {
  background-color: #c21479;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2509803922);
}
#process .container .button-container p.guarantee {
  margin: 5px 0 0;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: #28a745;
}
#process .container .button-container p.guarantee .checkmark {
  display: inline-block;
  transform: rotate(45deg);
  height: 14px;
  width: 8px;
  border-bottom: 3px solid #28a745;
  border-right: 3px solid #28a745;
  margin-right: 5px;
}/*# sourceMappingURL=style.css.map */