@import url('https://fonts.googleapis.com/css?family=Muli:100,200,300,400,500,600,700');

body {
    margin: 0;
    padding: 0;
}

#features {
    font-family: Muli, helvetica, verdana, arial, sans-serif;
    padding: 35px 0;
    color: #363636;

    .container {
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
        @media (min-width: 576px) {
            max-width: 576px;
        }
        @media (min-width: 768px) {
            max-width: 768px;
        }
        @media (min-width: 992px) {
            max-width: 992px;
        }
        @media (min-width: 1200px) {
            max-width: 1200px;
        }

        .headlines {
            padding: 0 0 35px;

            h2 {
                margin: 0 0 15px;
                font-size: 32px;
                font-weight: 700;
                color: #1e204a;
                text-align: center;
                font-family: Muli, helvetica, verdana, arial, sans-serif;
                font-style: initial;
                letter-spacing: initial;
                line-height: initial;
                word-wrap: initial;
            }
            h3 {
                margin: 0;
                font-size: 20px;
                font-weight: 600;
                text-align: center;
                font-family: Muli, helvetica, verdana, arial, sans-serif;
                font-style: initial;
                letter-spacing: initial;
                line-height: initial;
                word-wrap: initial;
                color: #363636;
            }
        }
        .ingredients-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            row-gap: 20px;

            @media (max-width: 767px) {
                justify-content: space-between;       
            }

            .ingredient {
                @media (max-width: 767px) {
                    flex: 0 0 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;  
                }

                img {
                    display: block;
                    width: 100px;
                    margin: 0 0 10px;
                }
                h3 {
                    margin: 0;
                    font-size: 20px;
                    font-family: Muli, helvetica, verdana, arial, sans-serif;
                    font-style: initial;
                    letter-spacing: initial;
                    line-height: initial;
                    word-wrap: initial;
                    text-align: left;
                    color: #363636;
                }
            }
        }
        .button-container {
            margin: 30px 0 0;
            text-align: center;

            .my-button {
                display: inline-block;
                padding: 25px 55px;
                border-radius: 40px;
                font-size: 27px;
                font-weight: 700;
                font-style: initial;
                letter-spacing: initial;
                line-height: initial;
                word-wrap: initial;
                text-align: center;
                color: #fff;
                background-color: #e2188d;
                box-shadow: 0 0 16px #0000001a;
                transition: background-color .15s ease-in-out;
                cursor: pointer;
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";

                &:hover {
                    background-color: #c21479;
                    box-shadow: 0 2px 8px #00000040;
                }

                &.border {
                    margin: 20px 0 0;
                    background-color: #fff;
                    color: #e2188d;
                    border: 3px solid #e2188d;
                }
            }
            p.guarantee {
                margin: 5px 0 0;
                text-align: center;
                font-size: 15px;
                font-weight: 700;
                color: #28a745;
                font-family: Muli, helvetica, verdana, arial, sans-serif;
                font-style: initial;
                letter-spacing: initial;
                line-height: initial;
                word-wrap: initial;

                .checkmark {
                    display: inline-block;
                    transform: rotate(45deg);
                    height: 14px;
                    width: 8px;
                    border-bottom: 3px solid #28a745;
                    border-right: 3px solid #28a745;
                    margin-right: 5px;
                }
            }
        }
    }
    .label-modal {
        display: none;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(54, 54, 54, .5);
        z-index: 101;

        .modal-box {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 500px;
            height: 500px;
            background: #fff;
            border-radius: 5px;

            .close {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                margin: 10px 10px 0 0;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 30px;
                cursor: pointer;
                font-family: Muli, helvetica, verdana, arial, sans-serif;
                font-style: initial;
                letter-spacing: initial;
                line-height: initial;
                word-wrap: initial;
                color: #363636;
            }
            img {
                display: block;
                height: 400px;
            }
        }
    }
}